акции
+ скидка на продукт (временной фактор)
+ скидка на раздел  (временной фактор)
+ 1+1 (3 по цене 2х)
+ промо код
+ есть дни когда условия доскавки меняются не действует (доставку хардкодим)
+ скидка за первый заказ при условии за отзыв

статистика
+ конверсия
+ статистика доставок
+ колво заказов по водителю
+ фэйлы

